* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and nav styles */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.first-part {
  height: 61px;
  font-weight: 800;
  font-size: 45px;
}
.btn-primary {
  color: #ffffff;
  border: none;
  height: 64px;
  padding: 18px 35px;
  background: #fd6e0a;
  border-radius: 5px;
}

nav {
  margin-top: 50px;
  display: flex;
  margin: 50px 200px;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.font {
  color: #fd6e0a;
}

/* banner */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.sub-title {
  color: #474747;
  width: 177px;
  height: 61px;
}
.first-btn {
  width: 200px;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  padding: 19px 17px;
  margin-top: 30px;
}
.main-title {
  width: 498px;
  height: 116px;
  color: #181818;
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.last-btn {
  color: #fd6e0a;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* section styles */
section {
  margin-top: 130px;
}
.about {
  background: #fff8f3;
  margin-top: 130px;
  border-radius: 10px;
  padding: 130px 157px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
}
.about-info-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
.about-info {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* what i do */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 38px;
}
.my-skills {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 267px;
  height: 377px;
  text-align: center;
  padding: 30px;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}
/* my resume */
.resume-content {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.education-item {
}

.experience-item {
}
.resume-content h3 {
  margin-bottom: 30px;
}
.resume-content p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}
/* dwonload button */
.dwonload {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 113px;
}
/* footer */
footer {
  width: 100%;
  height: 780px;
}
.footer-item {
  display: flex;
  gap: 117px;
  padding: 130px 200px;
  background: #fff8f3;
}
.item-description {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
  margin-top: 20px;
}
.image-part {
  margin-top: 30px;
}
input {
  height: 64px;
  padding-left: 10px;
}
textarea {
  padding-left: 10px;
}
.form-item input[type="text"],
input[type="email"],
textarea {
  margin-top: 25px;
  width: 100%;
  border: 0;
}
